.photos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}
.photos li {
	display: flex;
	flex-direction: column;
}

.photos li a {
	display: block;
	text-align: center;
}

.photos li span {
	display: block;
}
